footer.footer
	.content-wrapper
		.footer__wrapper
			.footer__column.footer__column--x2
				.footer__column.footer__column--inner
					.footer__link
						a(href="#") O&nbsp;COOK HOUSE
					.footer__link
						a(href="#") Новости
					.footer__link
						a(href="#") Программа лояльности
					.footer__link
						a(href="#") Подарочные карты
					.footer__link
						a(href="#") Адреса магазинов
					.footer__link
						a(href="#") Вакансии
				.footer__column.footer__column--inner
					.footer__link
						a(href="#") Пользовательское соглашение
					.footer__link
						a(href="#") Доставка и&nbsp;оплата
					.footer__link
						a(href="#") Возврат товара
					.footer__link
						a(href="#") Контакты
					.footer__link
						a(href="#") Оферта
			.footer__column.footer__column--subscribe
				.footer__caption Будь в&nbsp;курсе наших новостей
				.footer__subscribe
					+field({type:'input',mode:'subscribe',placeholder:'Email', button:'Подписаться'})
					+field({type:'checkbox',mode:'checkbox',label:'Согласен с&nbsp;<a href="#">обработкой персональных данных</a>',checked:1})
			.footer__column.footer__column--direction
				.footer__phone.b-icon__phone + 7 (495) 783-85-21
				.footer__phone.b-icon__telegram + 7 (903) 159-70-99
				.footer__phone.b-icon__whatsapp + 7 (903) 159-70-99
				.footer__social
					.footer__social-item.footer__social-item--vk
					.footer__social-item.footer__social-item--ig
					.footer__social-item.footer__social-item--fb
					.footer__social-item.footer__social-item--yd

