
-
   var secondMenu = [
      
      {
         link: 'Сервировка',
         dropMenuInner: [
            {
               title: 'Емкости',
               url: '#'
            },
            {
               title: 'Контейнеры, корзины',
               url: '#'
            },
            {
               title: 'Для специй',
               url: '#',
               list: 
               [
                  {
                     name: 'Емкости для специй',
                     url: '#'
                  },
                  {
                     name: 'Перечницы и солонки',
                     url: '#'
                  },
                  {
                     name: 'Наборы для специй',
                     url: '#'
                  }
               ],
            },
            {
               title: ' Для посуды',
               url: '#',
               list: [
                  {
                     name: 'Органайзеры',
                     url: '#'
                  },
                  {
                     name: 'Подставки',
                     url: '#'
                  },
                  {
                     name: 'Для ножей',
                     url: 'link'
                  }
               ],
            },
            {
               title: 'Для жидкостей',
               list: 
               [
                  {
                     name: 'Для масла и уксуса',
                     url: '#'
                  },
                  {
                     name: 'Емкости для напитков',
                     url: '#'
                  },
                  {
                     name: 'Диспенсеры и дозаторы',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Спец назначения',
               list: 
               [
                  {
                     name: 'Для фольги',
                     url: '#'
                  },
                  {
                     name: 'Держатели',
                     url: '#'
                  },
                  {
                     name: 'Релинги, полки, держатели',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Для продуктов',
               list: 
               [
                  {
                     name: 'Контейнеры',
                     url: '#'
                  },
                  {
                     name: 'Банки',
                     url: '#'
                  },
                  {
                     name: 'Корзинки',
                     url: '#'
                  },
                  {
                     name: 'Для сыпучих продуктов',
                     url: '#'
                  },
                  {
                     name: 'Для орехов',
                     url: '#'
                  },
                  {
                     name: 'Для меда',
                     url: '#'
                  },
                  {
                     name: 'Хлебницы',
                     url: '#'
                  },
                  {
                     name: 'Для лука, помидоров',
                     url: '#'
                  },
                  {
                     name: 'Для яиц',
                     url: '#'
                  }
               ],
            },
            {
               title: 'В дорогу',
               url: '#',
               list: 
               [
                  {
                     name: 'Термосумки',
                     url: '#'
                  },
                  {
                     name: 'Ланчбоксы',
                     url: '#'
                  },
                  {
                     name: 'Сумки',
                     url: '#'
                  },
                  {
                     name: 'Бутылки',
                     url: '#'
                  },
                  {
                     name: 'Стаканы',
                     url: '#'
                  },
                  {
                     name: 'Термокружки и термосы ',
                     url: '#'
                  },
                  {
                     name: 'С трубочкой',
                     url: '#'
                  },
                  {
                     name: 'Пластиковая посуда в дорогу',
                     url: '#'
                  },
               ],
            },
         ] 
      },
      {
         link: 'Для приготовления',
         dropMenuInner: [
            {
               title: 'Емкости',
               url: '#'
            },
            {
               title: 'Контейнеры, корзины',
               url: '#'
            },
            {
               title: 'Для специй',
               url: '#',
               list: 
               [
                  {
                     name: 'Емкости для специй',
                     url: '#'
                  },
                  {
                     name: 'Перечницы и солонки',
                     url: '#'
                  },
                  {
                     name: 'Наборы для специй',
                     url: 'link'
                  }
               ],
            },
            {
               title: ' Для посуды',
               url: '#',
               list: [
                  {
                     name: 'Органайзеры',
                     url: '#'
                  },
                  {
                     name: 'Подставки',
                     url: '#'
                  },
                  {
                     name: 'Для ножей',
                     url: 'link'
                  }
               ],
            },
            {
               title: 'Для жидкостей',
               list: 
               [
                  {
                     name: 'Для масла и уксуса',
                     url: '#'
                  },
                  {
                     name: 'Емкости для напитков',
                     url: '#'
                  },
                  {
                     name: 'Диспенсеры и дозаторы',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Спец назначения',
               list: 
               [
                  {
                     name: 'Для фольги',
                     url: '#'
                  },
                  {
                     name: 'Держатели',
                     url: '#'
                  },
                  {
                     name: 'Релинги, полки, держатели',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Для продуктов',
               list: 
               [
                  {
                     name: 'Контейнеры',
                     url: '#'
                  },
                  {
                     name: 'Банки',
                     url: '#'
                  },
                  {
                     name: 'Корзинки',
                     url: '#'
                  },
                  {
                     name: 'Для сыпучих продуктов',
                     url: '#'
                  },
                  {
                     name: 'Для орехов',
                     url: '#'
                  },
                  {
                     name: 'Для меда',
                     url: '#'
                  },
                  {
                     name: 'Хлебницы',
                     url: '#'
                  },
                  {
                     name: 'Для лука, помидоров',
                     url: '#'
                  },
                  {
                     name: 'Для яиц',
                     url: '#'
                  }
               ],
            },
            {
               title: 'В дорогу',
               url: '#',
               list: 
               [
                  {
                     name: 'Термосумки',
                     url: '#'
                  },
                  {
                     name: 'Ланчбоксы',
                     url: '#'
                  },
                  {
                     name: 'Сумки',
                     url: '#'
                  },
                  {
                     name: 'Бутылки',
                     url: '#'
                  },
                  {
                     name: 'Стаканы',
                     url: '#'
                  },
                  {
                     name: 'Термокружки и термосы ',
                     url: '#'
                  },
                  {
                     name: 'С трубочкой',
                     url: '#'
                  },
                  {
                     name: 'Пластиковая посуда в дорогу',
                     url: '#'
                  },
               ],
            },
         ] 
      },
      {
         link: 'Утварь',
         dropMenuInner: [
            {
               title: 'Емкости',
            },
            {
               title: 'Контейнеры, корзины',
            },
            {
               title: 'Для специй',
               list: 
               [
                  {
                     name: 'Емкости для специй',
                     url: '#'
                  },
                  {
                     name: 'Перечницы и солонки',
                     url: '#'
                  },
                  {
                     name: 'Наборы для специй',
                     url: 'link'
                  }
               ],
            },
            {
               title: ' Для посуды',
               list: [
                  {
                     name: 'Органайзеры',
                     url: '#'
                  },
                  {
                     name: 'Подставки',
                     url: '#'
                  },
                  {
                     name: 'Для ножей',
                     url: 'link'
                  }
               ],
            },
            {
               title: 'Для жидкостей',
               list: 
               [
                  {
                     name: 'Для масла и уксуса',
                     url: '#'
                  },
                  {
                     name: 'Емкости для напитков',
                     url: '#'
                  },
                  {
                     name: 'Диспенсеры и дозаторы',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Спец назначения',
               list: 
               [
                  {
                     name: 'Для фольги',
                     url: '#'
                  },
                  {
                     name: 'Держатели',
                     url: '#'
                  },
                  {
                     name: 'Релинги, полки, держатели',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Для продуктов',
               list: 
               [
                  {
                     name: 'Контейнеры',
                     url: '#'
                  },
                  {
                     name: 'Банки',
                     url: '#'
                  },
                  {
                     name: 'Корзинки',
                     url: '#'
                  },
                  {
                     name: 'Для сыпучих продуктов',
                     url: '#'
                  },
                  {
                     name: 'Для орехов',
                     url: '#'
                  },
                  {
                     name: 'Для меда',
                     url: '#'
                  },
                  {
                     name: 'Хлебницы',
                     url: '#'
                  },
                  {
                     name: 'Для лука, помидоров',
                     url: '#'
                  },
                  {
                     name: 'Для яиц',
                     url: '#'
                  }
               ],
            },
            {
               title: 'В дорогу',
               list: 
               [
                  {
                     name: 'Термосумки',
                     url: '#'
                  },
                  {
                     name: 'Ланчбоксы',
                     url: '#'
                  },
                  {
                     name: 'Сумки',
                     url: '#'
                  },
                  {
                     name: 'Бутылки',
                     url: '#'
                  },
                  {
                     name: 'Стаканы',
                     url: '#'
                  },
                  {
                     name: 'Термокружки и термосы ',
                     url: '#'
                  },
                  {
                     name: 'С трубочкой',
                     url: '#'
                  },
                  {
                     name: 'Пластиковая посуда в дорогу',
                     url: '#'
                  },
               ],
            },
         ] 
      },
      {
         link: 'Детская посуда',
         dropMenuInner: [
            {
               title: 'Кружки',
               url: '#'
            },
            {
               title: 'Ланчбоксы',
               url: '#'
            },
            {
               title: 'Наборы посуды',
               url: '#'
            },
            {
               title: 'Наборы столовых приборов',
               url: '#'
            },
            {
               title: 'Пластиковые стаканы и бутылки',
               url: '#'
            },
         ]
      },
      {
         link: 'Чай и кофе',
         dropMenuInner: [
            {
               title: 'Емкости',
               url: '#'
            },
            {
               title: 'Контейнеры, корзины',
               url: '#'
            },
            {
               title: 'Для специй',
               url: '#',
               list: 
               [
                  {
                     name: 'Емкости для специй',
                     url: '#'
                  },
                  {
                     name: 'Перечницы и солонки',
                     url: '#'
                  },
                  {
                     name: 'Наборы для специй',
                     url: 'link'
                  }
               ],
            },
            {
               title: ' Для посуды',
               url: '#',
               list: [
                  {
                     name: 'Органайзеры',
                     url: '#'
                  },
                  {
                     name: 'Подставки',
                     url: '#'
                  },
                  {
                     name: 'Для ножей',
                     url: 'link'
                  }
               ],
            },
            {
               title: 'Для жидкостей',
               list: 
               [
                  {
                     name: 'Для масла и уксуса',
                     url: '#'
                  },
                  {
                     name: 'Емкости для напитков',
                     url: '#'
                  },
                  {
                     name: 'Диспенсеры и дозаторы',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Спец назначения',
               list: 
               [
                  {
                     name: 'Для фольги',
                     url: '#'
                  },
                  {
                     name: 'Держатели',
                     url: '#'
                  },
                  {
                     name: 'Релинги, полки, держатели',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Для продуктов',
               list: 
               [
                  {
                     name: 'Контейнеры',
                     url: '#'
                  },
                  {
                     name: 'Банки',
                     url: '#'
                  },
                  {
                     name: 'Корзинки',
                     url: '#'
                  },
                  {
                     name: 'Для сыпучих продуктов',
                     url: '#'
                  },
                  {
                     name: 'Для орехов',
                     url: '#'
                  },
                  {
                     name: 'Для меда',
                     url: '#'
                  },
                  {
                     name: 'Хлебницы',
                     url: '#'
                  },
                  {
                     name: 'Для лука, помидоров',
                     url: '#'
                  },
                  {
                     name: 'Для яиц',
                     url: '#'
                  }
               ],
            },
            {
               title: 'В дорогу',
               url: '#',
               list: 
               [
                  {
                     name: 'Термосумки',
                     url: '#'
                  },
                  {
                     name: 'Ланчбоксы',
                     url: '#'
                  },
                  {
                     name: 'Сумки',
                     url: '#'
                  },
                  {
                     name: 'Бутылки',
                     url: '#'
                  },
                  {
                     name: 'Стаканы',
                     url: '#'
                  },
                  {
                     name: 'Термокружки и термосы ',
                     url: '#'
                  },
                  {
                     name: 'С трубочкой',
                     url: '#'
                  },
                  {
                     name: 'Пластиковая посуда в дорогу',
                     url: '#'
                  },
               ],
            },
         ] 
      },
      {
         link: 'Бар',
         dropMenuInner: [
            {
               title: 'Емкости',
               url: '#'
            },
            {
               title: 'Контейнеры, корзины',
               url: '#'
            },
            {
               title: 'Для специй',
               url: '#',
               list: 
               [
                  {
                     name: 'Емкости для специй',
                     url: '#'
                  },
                  {
                     name: 'Перечницы и солонки',
                     url: '#'
                  },
                  {
                     name: 'Наборы для специй',
                     url: 'link'
                  }
               ],
            },
            {
               title: ' Для посуды',
               url: '#',
               list: [
                  {
                     name: 'Органайзеры',
                     url: '#'
                  },
                  {
                     name: 'Подставки',
                     url: '#'
                  },
                  {
                     name: 'Для ножей',
                     url: 'link'
                  }
               ],
            },
            {
               title: 'Для жидкостей',
               list: 
               [
                  {
                     name: 'Для масла и уксуса',
                     url: '#'
                  },
                  {
                     name: 'Емкости для напитков',
                     url: '#'
                  },
                  {
                     name: 'Диспенсеры и дозаторы',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Спец назначения',
               list: 
               [
                  {
                     name: 'Для фольги',
                     url: '#'
                  },
                  {
                     name: 'Держатели',
                     url: '#'
                  },
                  {
                     name: 'Релинги, полки, держатели',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Для продуктов',
               list: 
               [
                  {
                     name: 'Контейнеры',
                     url: '#'
                  },
                  {
                     name: 'Банки',
                     url: '#'
                  },
                  {
                     name: 'Корзинки',
                     url: '#'
                  },
                  {
                     name: 'Для сыпучих продуктов',
                     url: '#'
                  },
                  {
                     name: 'Для орехов',
                     url: '#'
                  },
                  {
                     name: 'Для меда',
                     url: '#'
                  },
                  {
                     name: 'Хлебницы',
                     url: '#'
                  },
                  {
                     name: 'Для лука, помидоров',
                     url: '#'
                  },
                  {
                     name: 'Для яиц',
                     url: '#'
                  }
               ],
            },
            {
               title: 'В дорогу',
               url: '#',
               list: 
               [
                  {
                     name: 'Термосумки',
                     url: '#'
                  },
                  {
                     name: 'Ланчбоксы',
                     url: '#'
                  },
                  {
                     name: 'Сумки',
                     url: '#'
                  },
                  {
                     name: 'Бутылки',
                     url: '#'
                  },
                  {
                     name: 'Стаканы',
                     url: '#'
                  },
                  {
                     name: 'Термокружки и термосы ',
                     url: '#'
                  },
                  {
                     name: 'С трубочкой',
                     url: '#'
                  },
                  {
                     name: 'Пластиковая посуда в дорогу',
                     url: '#'
                  },
               ],
            },
         ] 
      },
      {
         link: 'Хранение',
         dropMenuInner: [
            {
               title: 'Емкости',
            },
            {
               title: 'Контейнеры, корзины',
            },
            {
               title: 'Для специй',
               list: 
               [
                  {
                     name: 'Емкости для специй',
                     url: '#'
                  },
                  {
                     name: 'Перечницы и солонки',
                     url: '#'
                  },
                  {
                     name: 'Наборы для специй',
                     url: 'link'
                  }
               ],
            },
            {
               title: ' Для посуды',
               list: [
                  {
                     name: 'Органайзеры',
                     url: '#'
                  },
                  {
                     name: 'Подставки',
                     url: '#'
                  },
                  {
                     name: 'Для ножей',
                     url: 'link'
                  }
               ],
            },
            {
               title: 'Для жидкостей',
               list: 
               [
                  {
                     name: 'Для масла и уксуса',
                     url: '#'
                  },
                  {
                     name: 'Емкости для напитков',
                     url: '#'
                  },
                  {
                     name: 'Диспенсеры и дозаторы',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Спец назначения',
               list: 
               [
                  {
                     name: 'Для фольги',
                     url: '#'
                  },
                  {
                     name: 'Держатели',
                     url: '#'
                  },
                  {
                     name: 'Релинги, полки, держатели',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Для продуктов',
               list: 
               [
                  {
                     name: 'Контейнеры',
                     url: '#'
                  },
                  {
                     name: 'Банки',
                     url: '#'
                  },
                  {
                     name: 'Корзинки',
                     url: '#'
                  },
                  {
                     name: 'Для сыпучих продуктов',
                     url: '#'
                  },
                  {
                     name: 'Для орехов',
                     url: '#'
                  },
                  {
                     name: 'Для меда',
                     url: '#'
                  },
                  {
                     name: 'Хлебницы',
                     url: '#'
                  },
                  {
                     name: 'Для лука, помидоров',
                     url: '#'
                  },
                  {
                     name: 'Для яиц',
                     url: '#'
                  }
               ],
            },
            {
               title: 'В дорогу',
               list: 
               [
                  {
                     name: 'Термосумки',
                     url: '#'
                  },
                  {
                     name: 'Ланчбоксы',
                     url: '#'
                  },
                  {
                     name: 'Сумки',
                     url: '#'
                  },
                  {
                     name: 'Бутылки',
                     url: '#'
                  },
                  {
                     name: 'Стаканы',
                     url: '#'
                  },
                  {
                     name: 'Термокружки и термосы ',
                     url: '#'
                  },
                  {
                     name: 'С трубочкой',
                     url: '#'
                  },
                  {
                     name: 'Пластиковая посуда в дорогу',
                     url: '#'
                  },
               ],
            },
         ]         
      },
      
      {
         link: 'Техника',
         dropMenuInner: [
            {
               title: 'Емкости',
               url: '#'
            },
            {
               title: 'Контейнеры, корзины',
               url: '#'
            },
            {
               title: 'Для специй',
               url: '#',
               list: 
               [
                  {
                     name: 'Емкости для специй',
                     url: '#'
                  },
                  {
                     name: 'Перечницы и солонки',
                     url: '#'
                  },
                  {
                     name: 'Наборы для специй',
                     url: 'link'
                  }
               ],
            },
            {
               title: ' Для посуды',
               url: '#',
               list: [
                  {
                     name: 'Органайзеры',
                     url: '#'
                  },
                  {
                     name: 'Подставки',
                     url: '#'
                  },
                  {
                     name: 'Для ножей',
                     url: 'link'
                  }
               ],
            },
            {
               title: 'Для жидкостей',
               list: 
               [
                  {
                     name: 'Для масла и уксуса',
                     url: '#'
                  },
                  {
                     name: 'Емкости для напитков',
                     url: '#'
                  },
                  {
                     name: 'Диспенсеры и дозаторы',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Спец назначения',
               list: 
               [
                  {
                     name: 'Для фольги',
                     url: '#'
                  },
                  {
                     name: 'Держатели',
                     url: '#'
                  },
                  {
                     name: 'Релинги, полки, держатели',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Для продуктов',
               list: 
               [
                  {
                     name: 'Контейнеры',
                     url: '#'
                  },
                  {
                     name: 'Банки',
                     url: '#'
                  },
                  {
                     name: 'Корзинки',
                     url: '#'
                  },
                  {
                     name: 'Для сыпучих продуктов',
                     url: '#'
                  },
                  {
                     name: 'Для орехов',
                     url: '#'
                  },
                  {
                     name: 'Для меда',
                     url: '#'
                  },
                  {
                     name: 'Хлебницы',
                     url: '#'
                  },
                  {
                     name: 'Для лука, помидоров',
                     url: '#'
                  },
                  {
                     name: 'Для яиц',
                     url: '#'
                  }
               ],
            },
            {
               title: 'В дорогу',
               url: '#',
               list: 
               [
                  {
                     name: 'Термосумки',
                     url: '#'
                  },
                  {
                     name: 'Ланчбоксы',
                     url: '#'
                  },
                  {
                     name: 'Сумки',
                     url: '#'
                  },
                  {
                     name: 'Бутылки',
                     url: '#'
                  },
                  {
                     name: 'Стаканы',
                     url: '#'
                  },
                  {
                     name: 'Термокружки и термосы ',
                     url: '#'
                  },
                  {
                     name: 'С трубочкой',
                     url: '#'
                  },
                  {
                     name: 'Пластиковая посуда в дорогу',
                     url: '#'
                  },
               ],
            },
         ] 
      },
      {
         link: 'Для дома',
         dropMenuInner: [
            {
               title: 'Емкости',
               url: '#'
            },
            {
               title: 'Контейнеры, корзины',
               url: '#'
            },
            {
               title: 'Для специй',
               url: '#',
               list: 
               [
                  {
                     name: 'Емкости для специй',
                     url: '#'
                  },
                  {
                     name: 'Перечницы и солонки',
                     url: '#'
                  },
                  {
                     name: 'Наборы для специй',
                     url: 'link'
                  }
               ],
            },
            {
               title: ' Для посуды',
               url: '#',
               list: [
                  {
                     name: 'Органайзеры',
                     url: '#'
                  },
                  {
                     name: 'Подставки',
                     url: '#'
                  },
                  {
                     name: 'Для ножей',
                     url: 'link'
                  }
               ],
            },
            {
               title: 'Для жидкостей',
               list: 
               [
                  {
                     name: 'Для масла и уксуса',
                     url: '#'
                  },
                  {
                     name: 'Емкости для напитков',
                     url: '#'
                  },
                  {
                     name: 'Диспенсеры и дозаторы',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Спец назначения',
               list: 
               [
                  {
                     name: 'Для фольги',
                     url: '#'
                  },
                  {
                     name: 'Держатели',
                     url: '#'
                  },
                  {
                     name: 'Релинги, полки, держатели',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Для продуктов',
               list: 
               [
                  {
                     name: 'Контейнеры',
                     url: '#'
                  },
                  {
                     name: 'Банки',
                     url: '#'
                  },
                  {
                     name: 'Корзинки',
                     url: '#'
                  },
                  {
                     name: 'Для сыпучих продуктов',
                     url: '#'
                  },
                  {
                     name: 'Для орехов',
                     url: '#'
                  },
                  {
                     name: 'Для меда',
                     url: '#'
                  },
                  {
                     name: 'Хлебницы',
                     url: '#'
                  },
                  {
                     name: 'Для лука, помидоров',
                     url: '#'
                  },
                  {
                     name: 'Для яиц',
                     url: '#'
                  }
               ],
            },
            {
               title: 'В дорогу',
               url: '#',
               list: 
               [
                  {
                     name: 'Термосумки',
                     url: '#'
                  },
                  {
                     name: 'Ланчбоксы',
                     url: '#'
                  },
                  {
                     name: 'Сумки',
                     url: '#'
                  },
                  {
                     name: 'Бутылки',
                     url: '#'
                  },
                  {
                     name: 'Стаканы',
                     url: '#'
                  },
                  {
                     name: 'Термокружки и термосы ',
                     url: '#'
                  },
                  {
                     name: 'С трубочкой',
                     url: '#'
                  },
                  {
                     name: 'Пластиковая посуда в дорогу',
                     url: '#'
                  },
               ],
            },
         ] 
      },

      {
         link: 'Бакалея',
         dropMenuInner: [
            {
               title: 'Емкости',
               url: '#'
            },
            {
               title: 'Контейнеры, корзины',
               url: '#'
            },
            {
               title: 'Для специй',
               url: '#',
               list: 
               [
                  {
                     name: 'Емкости для специй',
                     url: '#'
                  },
                  {
                     name: 'Перечницы и солонки',
                     url: '#'
                  },
                  {
                     name: 'Наборы для специй',
                     url: 'link'
                  }
               ],
            },
            {
               title: ' Для посуды',
               url: '#',
               list: [
                  {
                     name: 'Органайзеры',
                     url: '#'
                  },
                  {
                     name: 'Подставки',
                     url: '#'
                  },
                  {
                     name: 'Для ножей',
                     url: 'link'
                  }
               ],
            },
            {
               title: 'Для жидкостей',
               list: 
               [
                  {
                     name: 'Для масла и уксуса',
                     url: '#'
                  },
                  {
                     name: 'Емкости для напитков',
                     url: '#'
                  },
                  {
                     name: 'Диспенсеры и дозаторы',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Спец назначения',
               list: 
               [
                  {
                     name: 'Для фольги',
                     url: '#'
                  },
                  {
                     name: 'Держатели',
                     url: '#'
                  },
                  {
                     name: 'Релинги, полки, держатели',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Для продуктов',
               list: 
               [
                  {
                     name: 'Контейнеры',
                     url: '#'
                  },
                  {
                     name: 'Банки',
                     url: '#'
                  },
                  {
                     name: 'Корзинки',
                     url: '#'
                  },
                  {
                     name: 'Для сыпучих продуктов',
                     url: '#'
                  },
                  {
                     name: 'Для орехов',
                     url: '#'
                  },
                  {
                     name: 'Для меда',
                     url: '#'
                  },
                  {
                     name: 'Хлебницы',
                     url: '#'
                  },
                  {
                     name: 'Для лука, помидоров',
                     url: '#'
                  },
                  {
                     name: 'Для яиц',
                     url: '#'
                  }
               ],
            },
            {
               title: 'В дорогу',
               url: '#',
               list: 
               [
                  {
                     name: 'Термосумки',
                     url: '#'
                  },
                  {
                     name: 'Ланчбоксы',
                     url: '#'
                  },
                  {
                     name: 'Сумки',
                     url: '#'
                  },
                  {
                     name: 'Бутылки',
                     url: '#'
                  },
                  {
                     name: 'Стаканы',
                     url: '#'
                  },
                  {
                     name: 'Термокружки и термосы ',
                     url: '#'
                  },
                  {
                     name: 'С трубочкой',
                     url: '#'
                  },
                  {
                     name: 'Пластиковая посуда в дорогу',
                     url: '#'
                  },
               ],
            },
         ] 
      },
      {
         link: 'Premium',
         dropMenuInner: [
            {
               title: 'Емкости',
               url: '#'
            },
            {
               title: 'Контейнеры, корзины',
               url: '#'
            },
            {
               title: 'Для специй',
               url: '#',
               list: 
               [
                  {
                     name: 'Емкости для специй',
                     url: '#'
                  },
                  {
                     name: 'Перечницы и солонки',
                     url: '#'
                  },
                  {
                     name: 'Наборы для специй',
                     url: 'link'
                  }
               ],
            },
            {
               title: ' Для посуды',
               url: '#',
               list: [
                  {
                     name: 'Органайзеры',
                     url: '#'
                  },
                  {
                     name: 'Подставки',
                     url: '#'
                  },
                  {
                     name: 'Для ножей',
                     url: 'link'
                  }
               ],
            },
            {
               title: 'Для жидкостей',
               list: 
               [
                  {
                     name: 'Для масла и уксуса',
                     url: '#'
                  },
                  {
                     name: 'Емкости для напитков',
                     url: '#'
                  },
                  {
                     name: 'Диспенсеры и дозаторы',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Спец назначения',
               list: 
               [
                  {
                     name: 'Для фольги',
                     url: '#'
                  },
                  {
                     name: 'Держатели',
                     url: '#'
                  },
                  {
                     name: 'Релинги, полки, держатели',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Для продуктов',
               list: 
               [
                  {
                     name: 'Контейнеры',
                     url: '#'
                  },
                  {
                     name: 'Банки',
                     url: '#'
                  },
                  {
                     name: 'Корзинки',
                     url: '#'
                  },
                  {
                     name: 'Для сыпучих продуктов',
                     url: '#'
                  },
                  {
                     name: 'Для орехов',
                     url: '#'
                  },
                  {
                     name: 'Для меда',
                     url: '#'
                  },
                  {
                     name: 'Хлебницы',
                     url: '#'
                  },
                  {
                     name: 'Для лука, помидоров',
                     url: '#'
                  },
                  {
                     name: 'Для яиц',
                     url: '#'
                  }
               ],
            },
            {
               title: 'В дорогу',
               url: '#',
               list: 
               [
                  {
                     name: 'Термосумки',
                     url: '#'
                  },
                  {
                     name: 'Ланчбоксы',
                     url: '#'
                  },
                  {
                     name: 'Сумки',
                     url: '#'
                  },
                  {
                     name: 'Бутылки',
                     url: '#'
                  },
                  {
                     name: 'Стаканы',
                     url: '#'
                  },
                  {
                     name: 'Термокружки и термосы ',
                     url: '#'
                  },
                  {
                     name: 'С трубочкой',
                     url: '#'
                  },
                  {
                     name: 'Пластиковая посуда в дорогу',
                     url: '#'
                  },
               ],
            },
         ] 
      },
      {
         link: 'Sale',
         dropMenuInner: [
            {
               title: 'Емкости',
               url: '#'
            },
            {
               title: 'Контейнеры, корзины',
               url: '#'
            },
            {
               title: 'Для специй',
               url: '#',
               list: 
               [
                  {
                     name: 'Емкости для специй',
                     url: '#'
                  },
                  {
                     name: 'Перечницы и солонки',
                     url: '#'
                  },
                  {
                     name: 'Наборы для специй',
                     url: 'link'
                  }
               ],
            },
            {
               title: ' Для посуды',
               url: '#',
               list: [
                  {
                     name: 'Органайзеры',
                     url: '#'
                  },
                  {
                     name: 'Подставки',
                     url: '#'
                  },
                  {
                     name: 'Для ножей',
                     url: 'link'
                  }
               ],
            },
            {
               title: 'Для жидкостей',
               list: 
               [
                  {
                     name: 'Для масла и уксуса',
                     url: '#'
                  },
                  {
                     name: 'Емкости для напитков',
                     url: '#'
                  },
                  {
                     name: 'Диспенсеры и дозаторы',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Спец назначения',
               list: 
               [
                  {
                     name: 'Для фольги',
                     url: '#'
                  },
                  {
                     name: 'Держатели',
                     url: '#'
                  },
                  {
                     name: 'Релинги, полки, держатели',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Для продуктов',
               list: 
               [
                  {
                     name: 'Контейнеры',
                     url: '#'
                  },
                  {
                     name: 'Банки',
                     url: '#'
                  },
                  {
                     name: 'Корзинки',
                     url: '#'
                  },
                  {
                     name: 'Для сыпучих продуктов',
                     url: '#'
                  },
                  {
                     name: 'Для орехов',
                     url: '#'
                  },
                  {
                     name: 'Для меда',
                     url: '#'
                  },
                  {
                     name: 'Хлебницы',
                     url: '#'
                  },
                  {
                     name: 'Для лука, помидоров',
                     url: '#'
                  },
                  {
                     name: 'Для яиц',
                     url: '#'
                  }
               ],
            },
            {
               title: 'В дорогу',
               url: '#',
               list: 
               [
                  {
                     name: 'Термосумки',
                     url: '#'
                  },
                  {
                     name: 'Ланчбоксы',
                     url: '#'
                  },
                  {
                     name: 'Сумки',
                     url: '#'
                  },
                  {
                     name: 'Бутылки',
                     url: '#'
                  },
                  {
                     name: 'Стаканы',
                     url: '#'
                  },
                  {
                     name: 'Термокружки и термосы ',
                     url: '#'
                  },
                  {
                     name: 'С трубочкой',
                     url: '#'
                  },
                  {
                     name: 'Пластиковая посуда в дорогу',
                     url: '#'
                  },
               ],
            },
         ] 
      },
      {
         link: 'Новинки',
         dropMenuInner: [
            {
               title: 'Емкости',
               url: '#'
            },
            {
               title: 'Контейнеры, корзины',
               url: '#'
            },
            {
               title: 'Для специй',
               url: '#',
               list: 
               [
                  {
                     name: 'Емкости для специй',
                     url: '#'
                  },
                  {
                     name: 'Перечницы и солонки',
                     url: '#'
                  },
                  {
                     name: 'Наборы для специй',
                     url: 'link'
                  }
               ],
            },
            {
               title: ' Для посуды',
               url: '#',
               list: [
                  {
                     name: 'Органайзеры',
                     url: '#'
                  },
                  {
                     name: 'Подставки',
                     url: '#'
                  },
                  {
                     name: 'Для ножей',
                     url: 'link'
                  }
               ],
            },
            {
               title: 'Для жидкостей',
               list: 
               [
                  {
                     name: 'Для масла и уксуса',
                     url: '#'
                  },
                  {
                     name: 'Емкости для напитков',
                     url: '#'
                  },
                  {
                     name: 'Диспенсеры и дозаторы',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Спец назначения',
               list: 
               [
                  {
                     name: 'Для фольги',
                     url: '#'
                  },
                  {
                     name: 'Держатели',
                     url: '#'
                  },
                  {
                     name: 'Релинги, полки, держатели',
                     url: '#'
                  }
               ],
            },
            {
               title: 'Для продуктов',
               list: 
               [
                  {
                     name: 'Контейнеры',
                     url: '#'
                  },
                  {
                     name: 'Банки',
                     url: '#'
                  },
                  {
                     name: 'Корзинки',
                     url: '#'
                  },
                  {
                     name: 'Для сыпучих продуктов',
                     url: '#'
                  },
                  {
                     name: 'Для орехов',
                     url: '#'
                  },
                  {
                     name: 'Для меда',
                     url: '#'
                  },
                  {
                     name: 'Хлебницы',
                     url: '#'
                  },
                  {
                     name: 'Для лука, помидоров',
                     url: '#'
                  },
                  {
                     name: 'Для яиц',
                     url: '#'
                  }
               ],
            },
            {
               title: 'В дорогу',
               url: '#',
               list: 
               [
                  {
                     name: 'Термосумки',
                     url: '#'
                  },
                  {
                     name: 'Ланчбоксы',
                     url: '#'
                  },
                  {
                     name: 'Сумки',
                     url: '#'
                  },
                  {
                     name: 'Бутылки',
                     url: '#'
                  },
                  {
                     name: 'Стаканы',
                     url: '#'
                  },
                  {
                     name: 'Термокружки и термосы ',
                     url: '#'
                  },
                  {
                     name: 'С трубочкой',
                     url: '#'
                  },
                  {
                     name: 'Пластиковая посуда в дорогу',
                     url: '#'
                  },
               ],
            },
         ] 
      },
   ];
-;
-
   var alphabet = ['0-9', 'A', 'B', 'C','D','E','F','G','H','I','J','K','L', 'M', 'N','O','P','Q','R','S','T','U','V','W', 'X', 'Y','Z']
-;

-
   var brands = [
      {
         name: '1DEA.me',
         url: '#'
      },
      {
         name: 'Aeternum',
         url: '#'
      },
      {
         name: 'Ajka Crystal',
         url: '#'
      },
      {
         name: 'Alessi',
         url: '#'
      },
      {
         name: 'Alexandre',
         url: '#'
      },
      {
         name: 'Turpault',
         url: '#'
      },
      {
         name: 'Ambientair',
         url: '#'
      },
      {
         name: 'Anabella Asabella',
         url: '#'
      },
      {
         name: 'Andrea Fontebasso',
         url: '#'
      },
      {
         name: 'Angelo',
         url: '#'
      },
      {
         name: 'Anna lafarg Emilypol',
         url: '#'
      },
      

      {
         name: 'AromaCleaninQ',
         url: '#'
      },
      {
         name: 'Aroma',
         url: '#'
      },
      {
         name: 'Harmony',
         url: '#'
      },
      {
         name: 'ART ATELIERART GLASS',
         url: '#'
      },
      {
         name: 'Asa Selection',
         url: '#'
      },
      {
         name: 'Ashdene',
         url: '#'
      },
      {
         name: 'Atlantis',
         url: '#'
      },
      {
         name: 'Attitude',
         url: '#'
      },
      {
         name: 'BAGOhome',
         url: '#'
      },
      {
         name: 'Balimena',
         url: '#'
      },
      {
         name: 'Ballarini',
         url: '#'
      },

      {
         name: 'Balvi',
         url: '#'
      },
      {
         name: 'Barazzoni',
         url: '#'
      },
      {
         name: 'BAUERBCL',
         url: '#'
      },
      {
         name: 'Bialetti',
         url: '#'
      },
      {
         name: 'Biederlack',
         url: '#'
      },
      {
         name: 'Biederlackborbo',
         url: '#'
      },
      {
         name: 'Bisetti',
         url: '#'
      },
      {
         name: 'Blomus',
         url: '#'
      },
      {
         name: 'Bocasa',
         url: '#'
      },
      {
         name: 'Bodum',
         url: '#'
      },
      {
         name: 'BOHEMIA CRYSTAL',
         url: '#'
      },
   

      {
         name: 'Borbo',
         url: '#'
      },
      {
         name: 'Bordallo Pinheiro',
         url: '#'
      },
      {
         name: 'Brabantia',
         url: '#'
      },
      {
         name: 'Brun De Vian-Tiran',
         url: '#'
      },
      {
         name: 'Bsf',
         url: '#'
      },
      {
         name: 'Bugatti',
         url: '#'
      },
      {
         name: 'Candle Warmers',
         url: '#'
      },
      {
         name: 'Casy Home',
         url: '#'
      },
      {
         name: 'Carmani',
         url: '#'
      },
      {
         name: 'Casa Domani',
         url: '#'
      }
   ]
-;

section.top-menu
   nav.menu
      ul.menu__list         
         li.menu__list__item 
            a(href="#" class="is-active") Бренды
            .d-wrapper
               .content-wrapper
                  .d-alphabet
                     each item in alphabet
                        a(href="#")!=item
                  nav.d-brands
                     ul.d-list
                        each item in brands
                           li.d-list__item
                              a(href="#")!=item.name
                        a(href="#").d-list__item_more Все бренды
         each item,index in secondMenu
            li.menu__list__item
               a(href="#" class="" + (index==11?'is-active':''))!= item.link
               +dropMenu(item.dropMenuInner)
