//fonts
//$MuseoT = 'museo_sans_cyrl100',Helvetica,Arial,sans-serif;
$MuseoR = 'museo_sans_cyrl300',Helvetica,Arial,sans-serif;
$MuseoM = 'museo_sans_cyrl500',Helvetica,Arial,sans-serif;
//$MuseoB = 'museo_sans_cyrl700',Helvetica,Arial,sans-serif;
//$MuseoSB = 'museo_sans_cyrl900',Helvetica,Arial,sans-serif;
//$ClarendonR = 'clarendon_romanr',Helvetica,Arial,sans-serif;

$MuseocyrR = 'museocyrl300',Helvetica,Arial,sans-serif;
$MuseocyrM = 'museocyrl500',Helvetica,Arial,sans-serif;

$MontserratR = 'montserratregular',Helvetica,Arial,sans-serif;
//$MontserratM = 'montserratmedium',Helvetica,Arial,sans-serif;
//$MontserratB = 'montserratbold',Helvetica,Arial,sans-serif;
$MontserratSB = 'montserratsemibold',Helvetica,Arial,sans-serif;



//resp
$desktop = 'screen and (max-width: 1247px)';
$tablet = 'screen and (max-width: 1023px)';
$beforePhone = 'screen and (max-width: 991px)';
$phone = 'screen and (max-width: 767px)';
$phoneL = 'screen and (max-width: 575px)';
$phoneS = 'screen and (max-width: 374px)';
$phoneSmall = 'screen and (max-width: 320px)';

$beforePhone = 'screen and (min-width: 768px)';

$samsung9 = 'screen and (max-width: 360px) and (max-height: 720px)';

//color
// $baseFont = #73645C;
$baseFont = #38312e
$baseBackground = #FFFFFF;

$backFont = #DAD0C7;
$backFontHover = #c4bbb3;

$backBackground = #EFE8E3;

$linkFont = #D46229;
$hoverFont = #F05622;

$white = #ffffff;
$black = #000000;

$orange = #F26832;
$grey = #717171;
$gray = #D4CBC3;
$brown = #4F4E51;
$lightGray = #CCC1B8;

$check = #D8D8D8;
$done = #F9F5F2;

$specsGray = #E2E2E2;
$specsGrey = #B5ABA2;
$specsOrange = #f27848;

$sub = #F6F2EE;
$subBorder = #CABCAF;
$subColor = #BBAD9E;

$lightGrey = #FAF5F1;

$status_processed = #AE9C93;
$status_canceled = #C05A5A;
$status_completed = #81A785;

$green = #689F38
$beige = #F5EFED
$red = #FF736A
