extends layouts/default

block pageVar
	-pageTitle = 'О компании';

block content
	.page-container
		.b-about-page
			.b-about-page__wrapper
				.b-about-page__title О компании
				.b-about-page__subtitle COOK HOUSE&nbsp;&mdash; это федеральная сеть товаров для кухни и&nbsp;столовой.
				.b-about-page__desc
					p В&nbsp;магазинах сети можно приобрести любые товары для приготовления еды и&nbsp;сервировки стола&nbsp;&mdash; от&nbsp;необходимых мелочей до&nbsp;малой бытовой техники. Здесь легко подобрать сезонные и&nbsp;праздничные комплекты посуды&nbsp;&mdash; для дачи или пикника, для празднования нового года или дня рождения, для создания особого настроения или для шумного праздника.
					p Магазины COOK HOUSE ориентированы на&nbsp;современного горожанина. Мы&nbsp;знаем, как сложно иногда бывает выделить время для приготовления полноценного обеда или ужина, именно поэтому у&nbsp;нас представлен широкий выбор гаджетов и&nbsp;кухонных аксессуаров, которые облегчают этот процесс.
					p Цель сети COOK HOUSE&nbsp;&mdash; предоставить клиентам широкий выбор качественных и&nbsp;красивых товаров для столовой и&nbsp;кухни по&nbsp;привлекательным ценам. Мы&nbsp;сотрудничаем с&nbsp;производителями из&nbsp;более чем 10&nbsp;стран, которые придерживаются тех&nbsp;же принципов.
					p Сеть поддерживает выгодную программу лояльности для своих клиентов, а&nbsp;ассортимент магазинов регулярно обновляется товарами с&nbsp;крупнейших выставок мира. Уютная атмосфера COOK HOUSE притягивает как магнит и&nbsp;заставляет возвращаться сюда вновь и&nbsp;вновь.
					p COOK HOUSE&nbsp;&mdash; любимый магазин вашей кухни!
				.b-about-page__label Больше вдохновения в&nbsp;нашем INSTAGRAM

		.content-wrapper
			.b-instagram
				.b-instagram__wrapper.js-instagram
					each item in [1,2,3,4,5,6]
						a.b-instagram__item.js-instagram-item(href="https://www.instagram.com/cookhouserussia/" target="_blank")  

