extends layouts/default

block pageVar
	-pageTitle = 'dift card';

block content
	.page-container
		+breadcrumbs({path:[
			{title:'Главная', href:'#'},
			{title:'ПОДАРОЧНЫЕ КАРТЫ', href:''},
			{title:'ПОЛНЫЕ ПРАВИЛА РАБОТЫ С ПОДАРОЧНЫМИ КАРТАМИ', href:''}
		]})
		.content-wrapper
			.b-text

				.b-text.b-content-links
					p
						a(href='#main') Основные понятия. (п.1)
					p
						a(href='#section1') Общие положения. (п.2)
					p
						a(href='#section2') Порядок приобретения подарочной карты сети магазинов COOKHOUSE. (п.3)
					p
						a(href='#section3') Обмен номинала карты на товар. (п.4)
					p
						a(href='#section4') Другие условия


				h2#main
					| Основные понятия
				p
					span.text_bold Продавец
					| — сеть магазинов COOKHOUSE.
				p
					span.text_bold Компания-эмитент 
					| — АО «Кукхаус»
				p
					span.text_bold Товар 
					| — Продукция, реализуемая Продавцом в Месте приобретения Товара.
				p
					span.text_bold Номинал 
					| —  максимальный предел использования денежных средств по каждой Подарочной карте в отдельности.
				p
					span.text_bold Покупатель 
					| — лицо, которое приобретает у Продавца Подарочные карты Место приобретения Товара  — магазины (подразделения розничной торговли) под товарным знаком COOKHOUSE, в которых Продавец осуществляет свою деятельность.
				p
					span.text_bold Место приобретения Товара
					| — магазины (подразделения розничной торговли) под товарным знаком COOKHOUSE, в которых Продавец осуществляет свою деятельность.
				p
					span.text_bold Предъявитель 
					| — физическое лицо, правомерно владеющее и распоряжающееся Подарочной картой в результате получения такой Подарочной карты от Покупателя, обладающее правом приобретения Товара в розницу для личного, семейного и иного использования, не связанного с предпринимательской деятельностью, в Месте приобретения Товара в обмен на переданную Продавцу Подарочную карту на сумму, установленную Номиналом Подарочной карты Подарочная карта является платежной пластиковой картой, действующей только в сети магазинов COOKHOUSE.

				h2#section1
					| 3. Общие положения:
				p
					| 1. Подарочная карта является для Приобретателя публичной офертой и подтверждает право Приобретателя на заключение с Продавцом договора розничной купли-продажи Товара путем передачи Покупателем в Месте приобретения Товара Подарочной карты определенного Номинала.
				p
					| 2. На правоотношения между Продавцом и Покупателем по настоящему Положению не распространяются нормы Закона РФ от 07.02.1992 «О защите прав потребителей»
				p
					| 3.  Срок действия, Номинал и условия заключения между Предъявителем и Продавцом договора розничной купли-продажи Товара путем передачи Предъявителем Подарочной карты определенного Номинала Продавцу в счет оплаты Товара в Месте приобретения Товара в размере Номинала, указаны на каждой Подарочной карте.
				p
					| 4. Подарочная карта является свидетельством заключения предварительного договора с физическим лицом, согласно которому предъявитель Подарочной карты должен совершить покупку в магазине COOKHOUSE в срок в течение 12 месяцев после приобретения карты.

				p
					| 5. Подарочная карта является собственностью продавца товаров и услуг.

				p
					| 6. Срок действия подарочной карты 12 месяцев после приобретения карты.
					
				p
					| 7. Приобретение Подарочной карты означает согласие покупателя Подарочной карты с настоящими правилами.


				h2#section2
					| 3. Порядок приобретения подарочной карты сети магазинов COOKHOUSE:
				p
					| 1. Подарочная карта продается физическому лицу в любом из магазинов сети COOKHOUSE согласно номиналу, обозначенному на лицевой стороне Подарочной карты: 3000 рублей, 5000 рублей или 10000 рублей.
				p
					| 2. На приобретение Подарочной карты не действуют дополнительные скидки
				p
					| 3.  Подарочная карта в случае утери не восстанавливается.
				p
					| 4.  Карты с поврежденной магнитной полосой к оплате не принимаются и считаются недействительными, возврату и обмену не подлежат.
				p
					| 5. В случае, если Подарочная карта не будет использована в течение срока его действия, денежные средства, уплаченные за неё, возврату не подлежат.
				p
					| 6. Подарочная карта предназначена для оплаты товаров и услуг в сети магазинов COOKHOUSE по ценам, действующим на момент приобретения товаров или услуг.
				p
					| 7. Подарочная карта:
					| может быть реализована в любом из магазинов COOKHOUSE, кроме интернет-магазина 
					a(href='http://cookhouse.ru/' target='_blank') cookhouse.ru 
					| принимается к оплате только в сети озничных магазинов COOKHOUSE распространяется на товары магазинов COOKHOUSE
				p
					| 8. Вся сумма внесенного аванса (весь номинал карты) используется при покупке товаров и услуг единовременно и полностью на одном кассовом терминале сети магазинов COOKHOUSE, при этом карта безвозвратно передается продавцу товаров и услуг.
				p
					| 9. Подарочная карта не может быть обменена на деньги.
				p
					| 10. Если сумма выбранного товара превышает сумму номинала, обозначенного на подарочной карте, предъявитель оплачивает разницу.
				p
					| 11.Если сумма покупки меньше суммы номинала, обозначенного на подарочной карте, разница предъявителю не компенсируется. Предъявителю предоставляется возможность сделать дополнительную покупку в момент расчета.
				p
					| 12. На покупку, совершаемую с использованием подарочной карты распространяются все действующие сезонные скидки на товар, представленный в ассортименте на момент совершения покупки.

				h2#section3
					| 4. Обмен номинала карты на товар:

				p
					| 1.Если цена выбранного товара (товаров) ниже номинала подарочной карты, остаток денежными средствами не выплачивается

				p#section4
					| Другие условия:
				ul.b-text__left-padding
					li
						| Если цена выбранного товара (товаров) выше номинала подарочной карты, предъявитель должен доплатить недостающую сумму.
					li
						| Подарочная карты является собственностью компании-эмитента и после использования не возвращается.
					li
						| Подарочная карты является предъявительским — в случае утери не блокируется и не восстанавливается.
					li
						| При приобретении подарочной карты в магазине с оплатой наличными или банковской картой выдается кассовый чек.
					li
						| При получении выбранного товара выдается кассовый чек свидетельствующий об использовании карты.
					li
						| Компания-эмитент оставляет за собой право изменять настоящие правила.

		.btn-page-up.js-btn-page-up


