meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
meta(http-equiv="x-ua-compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(content="yes", name="apple-mobile-web-app-capable")
meta(name="HandheldFriendly", content="true")

meta(name="title" content="")
meta(name="description" content="")
link(href="/f/css/questionnaire.css", rel="stylesheet", type="text/css")

block pageVar
	-pageTitle = 'questionnaire-popup';

block content
	.page-container
		.q-page
			.q-popup-overlay
			.q-popup
				.q-page-head.q-popup-head
					.q-page-head__bg
						.q-page-head__img
							img(src="/f/img/questionnaire/icon-i4l.png", alt="logo")
				.q-popup-body
					.q-popup-body__row Спасибо за регистрацию!
					.q-popup-body__welcome Добро пожаловать в программу лояльности "Ideas 4 You"!
				
							